body {
    font-family: "Outfit", sans-serif;    
    width: 260px;
    padding: 20px;
    margin: 0;
    background-color: #ffffff;
    color: #1a1a1a;
}

h3 {
    margin: 0 0 16px 0;
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    letter-spacing: -0.3px;

}

.input-group {
    display: flex;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0, 0.4);
}

#currencySelect {
    background: #f8f9fa;
    padding: 10px 8px;
    border: 1px solid #e0e0e0;
    border-right: none;
    border-radius: 8px 0 0 8px;
    font-weight: 600;
    font-size: 14px;
    color: #4a4a4a;
    cursor: pointer;
    outline: none;
}

#wageInput {
    flex-grow: 1;
    padding: 10px 12px;
    border: 1px solid #e0e0e0;
    border-radius: 0 8px 8px 0;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
    transition: border-color 02s ease;
    width: 90px;
}

#wageInput:focus {
    border-color: #007aff;
}

button {
    width: 100%;
    padding: 12px;
    background: #007aff;
    color:white;
    border:none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s, transform 0.1s;
    box-shadow: 0 4px 6px rgba(0,122,255,0.2);
}

button:hover{
    background: #005ce6;
}

button:active{
    transform: scale(0.97);
}